body{
    background-color: burlywood;
}

.c1{
    color: blue;
}
.b1{
   color: blue;
   ;

    
}
.e1{
    color: blue;
}
.pp{
    background-color: white;
}
.l1{
    
    color: blue;
}
.web{
    background-color: yellow;
    text-align: center;
}
.web1{
    background-color: yellow;
    text-align: center;
}
.cc{
    color: red;
}